/* Fonts */

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: local("OpenSans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: local("OpenSans"), url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-yellow-icon: #ffc600;
  --special-green: #91c92f;
  --status-pink: #f6dada;
  --basic-white: #ffffff;
  --white-alpha30: rgba(255, 255, 255, 0.3);
  --white-alpha60: rgba(255, 255, 255, 0.6);
}

/* Base styles */
.page {
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-half-grey);
  font-weight: 300;
  font-size: 15px;
  background-color: #888888;
}

.page ul {
  list-style-type: none;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page-header {
  background-color: var(--special-yellow);
}
.page-footer {
  background-color: var(--basic-dark);
}

.page-body {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
}

.text-disabled {
  position: absolute;
  font-size: 0px;
}

/* Fonts */

.text-regular-link {
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.text-header {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.slider-promo h2 {
  letter-spacing: normal;
}

.container h2 {
  letter-spacing: normal;
}

.text-subheader-black-uppercase {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.2em;
}

.text-subheader-white-uppercase {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.2em;
}

.text-subheader-black-regular {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.text-subheader-white {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-white);
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 22px;
}

.text-footer {
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-white);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.list-dots {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.list-dots li:before {
  color: var(--basic-grey-light);
  content: "○ ";
  padding-right: 24px;
}

.catalog-nav {
  background-color: #ebebeb;
}

.img-partner-logo {
  filter: saturate(0%);
  opacity: 0.3;
}

.categories img {
  background-color: var(--special-yellow);
  background-size: 160px 160px;
}

.main-filter {
  background-color: var(--basic-grey-light);
  font-size: 14px;
}

.sort-goods {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.sort-goods a {
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.goods-catalog {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.goods-catalog span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.text-features-value {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.text-features-descr {
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.section-about p {
  line-height: 28px;
}

.slider-services p {
  line-height: 28px;
}
}

.catalog-nav a {
  letter-spacing: 0.1em;
}

.main-filter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.main-filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  color: var(--basic-black);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.main-filter h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.sort-goods {
  background-color: var(--basic-grey-light);
}

.sort-goods h2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

/* Background Images*/

.icon-arrow-nav {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: var(--basic-black);
  background-image: url(../img/icon-arrow-nav.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: var(--basic-black);
  background-image: url(../img/icon-search.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.icon-user {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-user.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.icon-compare {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-compare.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.icon-cart {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-cart.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.icon-user-yellow {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-user-yellow.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.icon-compare-yellow {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-compare-yellow.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.icon-cart-yellow {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: var(--basic-black);
  background-image: url(../img/icon-cart-yellow.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

/* Active Elements*/
.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.bottom-logo:hover {
  opacity: 0.6;
}

.bottom-logo:active {
  opacity: 0.3;
}

.page-header a:hover {
  opacity: 0.6;
}

.page-header a:active {
  opacity: 0.3;
}
/* Main Slider */
.details-link {
  background-color: var(--special-yellow-dark);
  /* размер задника */
}

.details-link:hover {
  /* размер задника */
}
.details-link a:active {
  /* размер задника */
  opacity: 0.2;
}

.categories img:hover {
  background-color: var(--special-yellow-dark);
}
.categories img:active {
  opacity: 0.3;
  background-color: var(--special-yellow-dark);
}

/* Slider services */
.slider-services a {
  background-color: var(--special-yellow-dark);
}
.slider-services a:hover {
  /* меняется размер задника*/
}

.slider-services a:active {
  color: var(--special-yellow-dark);
  background-color: var(--basic-black);
}

/* Footer */
.img-partner-logo:hover {
  filter: saturate(100%);
  opacity: 1;
}

.footer-nav-userdata img {
  opacity: 1;
}

.footer-nav-userdata a {
  color: #ffffff;
  opacity: 0.7;
}

.footer-nav-userdata img:hover {
  opacity: 0.6;
}
.footer-nav-userdata a:hover {
  opacity: 1;
}

.footer-nav-userdata a:active {
  opacity: 0.3;
}

.footer-nav-userdata img:active {
  opacity: 0.3;
}

.footer-services a:hover {
  opacity: 0.6;
}

.footer-services a:active {
  opacity: 0.3;
}

.social-networks a {
  opacity: 0.3;
}

.social-networks img:hover {
  opacity: 0.6;
}

.social-networks img:active {
  opacity: 0.1;
}

.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:active {
  opacity: 0.1;
}
